<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Musicode</title>
  <link href="styles/app.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="wrapper">
    <canvas class="visualizer" width="860" height="400"></canvas>
    <div>
      <div class="frequency indicator"></div>
      <div class="note indicator"></div>
    </div>
  </div>
  <script src="dist/bundle.min.js"></script>
</body>
</html>
