/* || General layout rules for narrow screens */

.indicator {
  font-size: 40px;
  width: 50%;
  float: left;
}

.note {
  text-align: right;
}

body {
	height: inherit;
	background-color: #999;
}

.wrapper {
	height: 100%;
	max-width: 800px;
	margin: 0 auto;
}
